.about {
  margin: 12rem auto;
  width: 90%;
  &__title {
    color: rgba($black, 0.5);
    font-size: 1.5rem;
  }

  .about-container {
    margin: 6rem 0;
    display: flex;
    gap: 4rem;
    line-height: 2.7rem;
    @media (max-width: $layout-breakpoint-medium) {
      flex-direction: column;
    }
    .about-item {
      flex: 1;
      &__title {
        font-size: 4rem;
        font-weight: 500;
        padding-bottom: 2rem;
      }
      &__text {
        font-size: 2rem;
      }
    }
  }
  .about-item__text {
    font-size: 2rem;
    line-height: 2.7rem;
    span {
      font-size: 2rem;
      color: $orange;
    }
  }
}
