.circle-wrapper {
  .circle {
    width: 26px;
    height: 26px;
    background-color: $orange;
    border-radius: 100%;
    position: fixed;
    z-index: 999;
    pointer-events: none;
    &--hovered {
      width: 52px;
      height: 52px;
    }
  }
}
